/* Layout Grid */
.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 4rem 0;
}

@media (min-width: 992px) {
    .main-layout {
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 768px) {
    .main-layout {
        gap: 2rem;
        padding: 2rem 0;
    }
}

@media (max-width: 480px) {
    .main-layout {
        gap: 1rem;
        padding: 1rem 0;
    }
}

.content-wrapper>section {
    margin-bottom: 5rem;
}